<h1>asset handler component</h1>
<sly data-sly-use.assets="com.infodales.aem.core.models.AssetHandelModel">
componet label:${assets.label}
<br>
<br>
<h1>Service:${assets.message}</h1>
<br>
<div data-sly-list="${assets.assetHandlerPojoList}">

    Title: ${item.title} <br/> <br/>
	Description: ${item.description}<br/> <br/>
   ExpiryDate : ${item.expiryDate}<br/> <br/>
   expiredFileDate: ${item.expiredFileDate}<br/> <br/>
   <hr>
</div>

</sly>