    body {
  background: url('background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
}

form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 1px solid #bbb;
  outline: none;
  background: transparent;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: all 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #03a9f4;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
}
.show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  color: #666;
}

button[type="submit"]:hover {
  background-color: #0575e6;
}
.container:hover{
    background-color: yellow;
}

