<div data-sly-resource="${'page-shell-header' @ resourceType='/apps/infodales-ankit/components/content/page-shell-header'}"/></div>
<div data-sly-resource="${'page-shell-breadcrumb' @ resourceType='/apps/infodales-ankit/components/content/page-shell-breadcrumb'}"/></div>

<div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"/></div>



<div data-sly-resource="${'page-shell-footer' @ resourceType='/apps/infodales-ankit/components/content/page-shell-footer'}"/></div>