<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>

<sly data-sly-call="${clientlib.css @ categories='myheader.comcss'}"></sly>

<sly data-sly-call="${clientlib.js @ categories='myheader.comcss'}"></sly>

<sly data-sly-use.myModel="com.infodales.aem.core.models.NewHeaderAnkitModel"></sly>

<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid" >
        <a class="navbar-brand" href="${myModel.link} "><img src="${myModel.fileReference}" alt="${myModel.altText}" width="45" height="45" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" data-sly-list.myMultifieldList="${myModel.myMultifield}">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" ${myMultifieldList.navlink  @ context='unsafe'}"> ${myMultifieldList.navelement @ context='unsafe'}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div data-sly-list.navLink="${myModel.navLinkList}">

	${navLink.pageTitle} : ${navLink.link} <br>
</div>