<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>

<sly data-sly-call="${clientlib.css @ categories='myheader.comcss'}"></sly>

<sly data-sly-call="${clientlib.js @ categories='myheader.comcss'}"></sly>




<div class="container" >
     <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>

</div>

