<div data-sly-list.links="${properties.cfLink}">
	${links}<br>
</div>
<sly data-sly-use.myModel="com.infodales.aem.core.models.ContentFragmentModel"></sly>
<div data-sly-list.links="${myModel.cfList}">
<hr>
	studentName:${links.studentName}<br>
    studentClass:${links.studentClass}<br>
    studentRollno:${links.studentRollno}<br>
    studentBranch:${links.studentBranch}<br>
    <hr>
</div>