This is My MAIN PAGE made by <h1>Ankit Pardhi</h1> 

<div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>



<sly data-sly-use.childHierarchyModel="com.infodales.aem.core.models.ChildHierarchyModel">

<div data-sly-list.items="${childHierarchyModel.childPageList}">
		${items} 
</div>

</sly>


 <sly data-sly-use.childHierarchyModel="com.infodales.aem.core.models.NodeCreateModel"></sly> 