<sly data-sly-use.Object="com.infodales.aem.core.models.PageLinkModel">
    <hr />
    <h1>${Object.label}</h1>
    <br />
    <br />
    <hr />
    <h3>${Object.description}</h3>
    <hr />
    <div data-sly-list.items="${Object.pageLinkList}">
        <h2>Page Title : ${items.pageTitles}</h2>
        <br />
        <h3>Page Link : ${items.pageLinks}</h3>
        <br />
        <hr />
    </div>
</sly>