<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<sly data-sly-use.clientlibs="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientlibs.css @ categories='loginform.comcss'}"></sly>

<sly data-sly-call="${clientlibs.js @ categories='loginform.comcss'}"></sly>

<div>
    <div id="login-form" data-url="${resource.path}.value.json">
        <label for="login-id">Login ID:</label>
        <input type="text" id="login-id" name="login-id" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button type="button" onclick="showPassword()">Show</button>

        <input id="submit-btn" type="submit" value="Login" />
    </div>
</div>
